@page
@model IndexModel

<div class="text-center">
    <h1>@Html.DisplayFor(m => m.Message)</h1>
    <h1>The value of the Foo header is: @Html.DisplayFor(m => m.HttpContext.Request.Headers["x-foo"])</h1>
</div>
